.form-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
}
.pfp {
  display: flex;
  gap: 3vw;
}
.form-container h2 {
  text-align: center;
  color: #4caf50;
}

.needs-validation {
  width: 60%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group label {
  flex-basis: 30%;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
  flex-basis: 70%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 80px;
}

.form-group select {
  padding: 7px;
}

.btnSubmit {
  width: 80%;
  background-color: #00B207;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btnSubmit:hover {
  background-color: #45a049;
}

.required:after {
  content: ' *';
  color: red;
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .form-group label {
    margin-bottom: 5px;
  }
}

.asads {
  display: flex;
}

.asa {
  display: flex;
}

* {
  /* font-family: "Teko", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal; */
}

.pdtext {
  font-size: xx-large;
  text-decoration: underline;
  margin-bottom: 20px;
  margin-top: 10px;
}
.litem > nav {
  height: 10vh;
  width: 200px;
  background-color:#00B207;
  margin-top:10px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  font-weight: 650;

}

.cc {
  display: flex;
  justify-content: space-around;
}

.Firstline {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

.secondline {
  display: flex;
  justify-content: flex-start;
}

.pln {
  display: flex;
  justify-content: flex-start;
}

.bfl1 {
  display: flex;
  justify-content: flex-start;
}

.bfl2 {
  display: flex;
  justify-content: flex-start;
}

.bfl3 {
  display: flex;
  justify-content: flex-start;
}

.ss {
  display: flex;
}

.pd {
  width: 1200px;

  margin-left: 80px;
}

.fname111 input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.lname111 input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.lname111 {
  margin-left: 10%;
}

.dob {
  margin-left: 10%;
}

.gender select {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.dob input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.selst {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.seld {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}
.selsd {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}
.sela {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.pincode input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.pit select {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}
.pinn {
  padding-left: 8%;
}
.pinn input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.add textarea {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.sa {
  display: flex;
}

.sa111 {
  margin-left: 3%;
}
.sd111 {
  margin-left: 3%;
}
.sss111 {
  margin-left: 3%;
}

.bs {
  margin-left: 6%;
}

.ifsc input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}
.accname input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.bn input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.accname {
  margin-left: 8%;
}

.bba {
  margin-left: 8%;
}

.baccn {
  margin-left: 8%;
}

.baccn input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.bbn input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.bba input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.img111 input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.img112 input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

.pig {
  margin-left: 6%;
}
