*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
}
.header{
    margin: 0;
    height: 5rem;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
.heading h1{
    font-size: 35px;
}
.box{
    margin:5rem;
}
.container{
    margin: 0;
    padding: 20px;
    text-align: center;  
    display: flex;
    flex-direction: column;
    min-width:25rem;
    max-width: 20rem;
    position: relative;
    left: 28vw;
    gap: 40px;
    box-shadow: 0PX 7PX 20PX 0PX BLACK;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.choice{
    display: flex;
    width: 15vw;
    position: relative;
    right: 10px;
}
.choice span{
    font-size:large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
    position: relative;
    right: 10px;
}
input,button{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    width: 22vw;
    border: none;
    color: black;
    border-bottom: 2px solid gray;
    outline: none;
    background-color: white;
}
input::placeholder{
    color: black;
}
button{
    width: 18vw;
    height: 5vh;
    border: none;
    box-shadow: 0PX 0PX 5PX 0PX BLACK;
    border-radius: 15px;
    background-color: chartreuse;
    cursor: pointer;
}
p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.google>button{
    background-color: white;
    box-shadow:none ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    cursor: pointer;
    text-decoration: underline;
}
#recaptcha-container{
    position: relative;
    left: 2vw;
}