*{
    margin: 0;
    padding: 0;
}
.mainvg{
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;
}
.headervg{
    margin: 0;
    height: 5rem;
    width: 100%;
    text-align: center;
    color: black;
}
.heading h1{
    font-size: 35px;
}
.bgimg>img{
    margin: 0px;
    padding: 0px;
    height: 98.5vh;
    width: 100%;
    /* background-image: url("https://th.bing.com/th/id/R.77dfcc4d3db9d58d263ddfb9424aa74d?rik=9dwG7dUFc8aI9A&riu=http%3a%2f%2fs.wsj.net%2fpublic%2fresources%2fimages%2fBN-BB446_ifarm_P_20140111221144.jpg&ehk=fcYS84qt1uyS6xk2qf7no1vx09cNSjswk8cR4%2bLOSs4%3d&risl=&pid=ImgRaw&r=0"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position:center; */
    position:absolute;
    z-index: -1;
    overflow: hidden;
}
.fade{
    height: 98.5vh;
    background-color: rgba(0, 0, 0, 0.329);
}
.boxvg{
    margin:5rem;
}
.containervg{
    background:rgba(0, 0, 0, 0.774);
    margin: 0;
    padding: 20px;
    text-align: center;  
    display: flex;
    flex-direction: column;
    min-width:25rem;
    max-width: 20rem;
    position: relative;
    left: 28vw;
    gap: 40px;
    border-radius: 15px;
}
.formvg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* select{
    width: 22vw;
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid gray;
    outline:none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
select>option{
    background-color: transparent;
    color: black;
} */
.i1,.bt1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    width: 22vw;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    background-color: transparent;
}
.i1::placeholder{
    background-color: transparent;
    color: white;
}
.btn>button{
    border: none;
    width: 18vw;
    height: 5vh;
    box-shadow: 0PX 0PX 5PX 0PX BLACK;
    border-radius: 15px;
    background-color: chartreuse;
    cursor: pointer;
    color: black;
}
.p1{
    margin-bottom:40px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.a1{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.google>button{
    background-color: transparent;
    box-shadow:none ;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    gap: 10px;
    padding-left: 30px;
}
.google>button>span{
    font-size: 20px;
    position: relative;
    bottom: 5px;
}
.captcha{
    position: relative;
    left: 2vw;
    bottom: 3vh;
}
.i2{
    width: 22vw;
    color: black;
    
}
.navi{
    display: flex;
    color: white;
    margin: 10px;
    padding: 10px;
    gap:70vw;
}
.first{
    color: chartreuse;
}
.second{
    color: white;
}
.brand{
    display: flex;
    cursor: pointer;
    font-size: 40px;
}
.su>select{
    background-color: transparent;
    color: white;
    outline: none;
    font-size: 20px;
}
.bt3{
    margin: 10px;
    font-size: 30px;
    display: flex;
    gap: 10px;
    color:white;
}
.bt3:hover{
   color: chartreuse;
    scale: 1.04;
}
.bt3>h2{
    position: relative;
    bottom: 7px;
}
.i3{
    width: 22vw;
    margin-right: 10px;
    color: black;
}
.i4{
    width: 22vw;
    margin-left: 2vw;
    color: black;
    background-color: transparent;
}
.bt1:hover{
    scale:1.04
}
.email>.bt1{
    display: flex;
    border: none;
    padding-left: 60px;
    gap: 13px;
    font-size: 22px;
}
.span{
    position: relative;
    bottom: 6px;
    text-decoration:underline;
}