header{
    border: 2px solid black;
    height: 10vh;
    background-color: aqua;
}
.chats-display{
    width: 99.5%;
    height: 79vh;
    position: absolute;
    text-align: center;
    border: 2px solid red;
    overflow: scroll;
}
footer{
    position: relative;
    top: 82vh;
    display: flex;
    justify-content: space-around;
}
footer>textarea{
    width: 80vw;
    text-align: center;
    font-size: 19px;
    color: black;
}
